# temporary files
*~
\#*#
tmp/

# build directory
build/

# output directory
output/

# android
#*.apk
*.ap_
*.dex

# java
*.class

# Local configuration file (sdk path, etc)
local.properties
project.properties

# eclipse project files
.classpath
.project
.metadata
.settings/
.apt_generated/
proguard/

# intelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
gen-external-apklibs/

# mac / windows
.DS_Store
Thumbs.db

# gradle
.gradle/
