<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<appender name="LOGCAT" class="ch.qos.logback.classic.android.LogcatAppender">
		<tagEncoder>
			<pattern>%logger{0}</pattern>
		</tagEncoder>
		<encoder>
			<pattern>[%method] %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="com.nilhcem.xebia.essentials" level="DEBUG" />

	<root level="INFO">
		<appender-ref ref="LOGCAT" />
	</root>
</configuration>
